div{
    display: flex;
    flex-wrap: wrap;
    
}

div a{
    background-color: #f0f0f0;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    font-weight: 600;
    color: #e72929;
    opacity: 80;

}

div a:hover{
    opacity: 0.7;
    cursor: pointer;
}